### Visual studio code ###
.vscode/

### IntelliJ ###
.idea/

### Gradlr ###
.gradle
build

### Mint ###
/mint-server/build.gradle.kts
/mint-server/src/minecraft
/mint-server/.gradle
/mint-api/.gradle
/mint-api/build.gradle.kts
/folia-server
/folia-api
/paper-server
/paper-api
build/
run/