build/
.gradle/
run/

### Visual studio code ###
.vscode/

### Mint ###
/mint-server/build.gradle.kts
/mint-api/build.gradle.kts
/folia-server/build.gradle.kts
/folia-server/src/minecraft
/folia-api/build.gradle.kts
/paper-server
/paper-api
